@charset "utf-8";
/* CSS Document */
body {
	background-image: url("../images/bg.gif");
}


p {
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	padding: 20px;
	margin-left: 2%;
	font-size: 10m;
}

.page{
	border-radius: 25px;
	float: left;
	background: linear-gradient(#FFFFFF, #999999);
	margin-left: 10%;
	margin-right: 10%;
}

#colorp{
	color:#CC3300;
}

#wordcolor{
	background: #FFCC00;

}
.wc{
	margin-left: 50px;
	color: #FF0000;
	margin-right: 610px;
	line-height: 90%;
}


h1 {
	color: #232323;
	text-align:center;
	background-color: #FF0004;
	font-family: Courier New, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;
	
}

h2 {
	color: #232323;
	font-family: Courier New, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;
	font-style: italic;
	text-indent: 20px;
	
}


h3 {
	
	color: #232323;
	font-family: slant, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;
	font-size: 35px;
	font-weight: normal;
	text-indent: 20px;
}


ol{ 
	 list-style-type: upper-roman;

}

ul{
	list-style-type: circle;
}


a {
	display: inline-block; 
	text-decoration: none;	
	text-align: center;
}

a.a2 {
	border: 2px solid red;
	
}

a.a1 {
	color: #FF0004;
	border:none;
	padding:4%;
	
}

a:link {
	color: #000000;
}

a:visited {
	color: #000099;
}

a.a2:hover {
	border: 2px solid black;
}

a:a1:hover {
	border:none;
}


a.tn:hover {
	color: #00FF00;
	display: inline;
}

a.botlink:hover{
	color: #FF9900;
}

a:visited {
	color: #000099;
}



@font-face {
    font-family: 'slant';
    src: url('fonts/SLANT.TTF');
format('TTF');
	font-family: 'hawaii';
    src: url('fonts/Hawaii.TTF');
format('TTF');
}

li {
	display: inline;
	
}

#Uses::before {
	 content: url('../images/icon1.png');
}
	
#History::before {
	 content: url('../images/icon2.png');
}

#Genres::before {
	 content: url('../images/icon33.png');
}

.imagesclass {
	margin-left: 5%;
	margin-right: 5%;
	width: 25%;
	border: 2px solid #1D1D1D;
	padding: 1px 1px;
	
	color: #666666;
	
	background: linear-gradient(#999999, #FFFFFF);
	text-align:center;
	
	border-radius: 25px;
	box-shadow: 5px 5px 5px #373636;
	float: left;
}

