@charset "utf-8";
/* CSS Document */
body {
	width: 950px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 10px;
}

#colorp{
	color:#FF9900;
}


p {
	width: 700px;
}

.page{
	background: linear-gradient(#FFFFFF, #999999);
	border-radius: 25px;
	box-shadow: 5px 5px 5px #373636;
}

#wordcolor{
	background: #FFCC00;

}
.wc{
	margin-left: 50px;
	color: #FF0000;
	margin-right: 670px;
}


h1 {
	color: #232323;
	text-align:center;
	background-color: #FF0004;
	font-family: Courier New, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;
	
}

h2 {
	color: #232323;
	font-family: Courier New, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;
	font-style: italic;
}


h3 {
	
	color: #232323;
	font-family: Arial, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;
	font-size: 25px;
}


ol{ 
	 list-style-type: upper-roman;

}

ul{
	list-style-type: circle;
}


a {
	display: inline-block; 
	text-decoration: none;	
	text-align: center;
}

a.a2 {
	border: 2px solid red;
	
}

a.a2:hover {
	border: 2px solid black;
}


a.a1 {
	color: #FF0004;
	border:none;
	padding:4%;
	
}

a:a1:hover {
	border:none;
}

#topnav {
	list-style-type: none;
	display: inline;
}

a.tn:hover {
	color: #00FF00;
	display: inline-block;
}

