@charset "utf-8";
/* CSS Document */
body {
	width: 950px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 10px;
}

#colorp{
	color:#FF9900;
}


p {
	margin-left:40px;
	width: 600px;
}

.page{
	background: linear-gradient(#FFFFFF, #999999);
	border-radius: 25px;
	box-shadow: 5px 5px 5px #373636;
}

#wordcolor{
	background: #FFCC00;

}
.wc{
	margin-left: 50px;
	color: #FF0000;
	margin-right: 610px;
	line-height: 90%;
}


h1 {
	color: #232323;
	text-align:center;
	background-color: #FF0004;
	font-family: Courier New, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;
	
}

h2 {
	color: #232323;
	font-family: Courier New, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;
	font-style: italic;
	text-indent: 20px;
	
}


h3 {
	
	color: #232323;
	font-family: slant, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;
	font-size: 35px;
	font-weight: normal;
	text-indent: 20px;
}


ol{ 
	 list-style-type: upper-roman;

}

ul{
	list-style-type: circle;
}


a {
	display: inline-block; 
	text-decoration: none;	
	text-align: center;
}

a.a2 {
	border: 2px solid red;
	
}

a.a2:hover {
	border: 2px solid black;
}


a.a1 {
	color: #FF0004;
	border:none;
	padding:4%;
	
}

a:a1:hover {
	border:none;
}

#topnav {
	list-style-type: none;
	display: inline;
}

a.tn:hover {
	color: #00FF00;
	display: inline;
}

a.botlink:hover{
	color: #FF9900;
}

a:visited {
	color: #000099;
}

a:link {
	color: #000000;
}

@font-face {
    font-family: 'slant';
    src: url('fonts/SLANT.TTF');
format('TTF');
	font-family: 'hawaii';
    src: url('fonts/Hawaii.TTF');
format('TTF');
}
